@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

$top1-height: 3rem;
$top2-height: 3rem;
$header-height: 4rem;
$left-width: 25rem;
$bg: white;
$border-radius: 0.65rem;
$border: 1px solid #0000000d;
$border-faint: 1px solid #0000000d;
$border-faint2: #0000000d;
$minuteWidth: 0.0625rem;
$block-height: 5.5rem;
$block-spacing: .5rem;
$block-padding-w: 0.125rem;
$block-padding-h: 0.75rem;
$scrollbar-color: #ababab;
$scrollbar-color-hover: #8d8d8d;

* {
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	font-family: "Poppins", sans-serif;
	scrollbar-width: thin;
	scrollbar-color: $scrollbar-color transparent;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: $scrollbar-color;

	&:hover {
		background: $scrollbar-color-hover;
	}
}

@media (max-width: 600px), (max-height: 450px) {
	:root {
		font-size: 0.85rem;
	}
}

html, body {
	overflow-x: auto;
	height: 100%;
}

body {
	background: #f9f9f9;

	&.isDragging {
		user-select: none;
	}
}

.newCalendar {
	width: max-content;
	display: flex;
	margin-top: $header-height;
	background-color: #f9f9f9;
	background-image: linear-gradient(to right, #e2e2e2 1px, transparent 1px);
	background-size: $minuteWidth * 60 $block-height;
	position: relative;

	> .center {
		display: flex;

		.day {
			width: $minuteWidth * 600;
			min-width: $minuteWidth * 600;
			position: relative;

			+ .day {
				border-left: $border;
			}

			.header {
				position: sticky;
				top: $header-height;
				z-index: 1;
				background: $bg;
				border-bottom: $border;

				.dayTitle {
					font-size: 1.125rem;
					width: 100%;
					height: $top1-height;
					line-height: $top1-height;
					text-align: center;
					font-weight: 600;
				}

				.hours {
					display: flex;
					width: 100%;
					height: $top2-height;

					.hour {
						flex: 1 1 0;
						height: $top2-height;
						line-height: $top2-height;
						text-align: center;
						font-size: 1rem;
						font-weight: 600;


						+.hour {
							border-left: $border-faint;
							}
					}
				}
			}

			.blocks {
				--max-slots: 1;
				position: relative;
				height: max(
						calc(var(--max-slots) * #{$block-height}),
						calc(100vh - #{$header-height + $top1-height + $top2-height} - 10px)
				);
				--multi: 0.05;
				background-image: linear-gradient(180deg,
						rgba(0, 0, 0, calc(var(--multi) * 1.00)) 0rem,
 						rgba(0, 0, 0, calc(var(--multi) * 0.85)) 0.4rem,
 						rgba(0, 0, 0, calc(var(--multi) * 0.72)) 0.8rem,
 						rgba(0, 0, 0, calc(var(--multi) * 0.59)) 1.2rem,
 						rgba(0, 0, 0, calc(var(--multi) * 0.46)) 1.6rem,
 						rgba(0, 0, 0, calc(var(--multi) * 0.35)) 2rem,
 						rgba(0, 0, 0, calc(var(--multi) * 0.25)) 2.4rem,
 						rgba(0, 0, 0, calc(var(--multi) * 0.16)) 2.8rem,
 						rgba(0, 0, 0, calc(var(--multi) * 0.09)) 3.2rem,
 						rgba(0, 0, 0, calc(var(--multi) * 0.03)) 3.6rem,
 						rgba(0, 0, 0, calc(var(--multi) * 0.00)) 4rem);

				.block {
					--start-minutes: 0;
					--minutes: 0;
					--index: 0;
					--background: white;
					--color: black;
					background-color: var(--background);
					color: var(--color);
					padding: .5rem;
					display: flex;
					flex-flow: column;
					position: absolute;
					top: calc(#{$block-height} * var(--index) + #{math.div($block-padding-h, 2)});
					left: calc(#{$minuteWidth} * var(--start-minutes) + #{math.div($block-padding-w, 2)});
					border-radius: $border-radius;
					width: calc(var(--minutes) * #{$minuteWidth} - #{$block-padding-w});
					min-height: calc(#{$block-height} - #{$block-padding-h});
					max-height: calc(#{$block-height} - #{$block-padding-h});
					height: max-content;
					transition: all .125s ease;
					font-size: 0.9rem;
					cursor: pointer;

					&.expanded {
						min-width: min-content;
						z-index: 1;
						box-shadow:
							0 0 0 rgba(0, 0, 0, 0.1),
							0 2px 4px rgba(0, 0, 0, 0.1),
							0 8px 8px rgba(0, 0, 0, 0.1),
							0 12px 16px rgba(0, 0, 0, 0.1);
					}

					&:hover {
						.downArrow {
							opacity: 1;
						}
					}

					&:not(.expanded) {
						.expandedOnly {
							display: none;
							opacity: 0;
							transition-duration: 0.25s;
						}
					}

					.expandedOnly {
						transition: opacity .125s ease;
					}

					.title {
						text-align: initial;
						font-weight: bold;
						line-height: 1em;
					}

					.downArrow {
						position: absolute;
						top: 0;
						right: .1rem;
						opacity: 0;
						width: 2rem;
						height: 2rem;
						fill: var(--color);
						transition: opacity 0.125s ease;
					}

					&.default {
						--background: #c7dcff;
						--color: #28446f;
					}

					&.red {
						--background: #e02838;
						--color: #fff7f7;
					}

					&.blueish {
						--background: #4b60c7;
						--color: #e8edff;
					}

					&.darkgray {
						--background: #757575;
						--color: #f8f8f8;
					}
				}
			}
		}
	}

	.timeMarker {
		$width: 4rem;
		--minutes: 0;
		position: absolute;
		top: 0;
		left: calc(var(--minutes) * #{$minuteWidth} - #{$width} + 2px);
		width: $width;
		height: 100%;
		border-right: 2px solid #4388ff;
		background-image: linear-gradient(to right, transparent 0%, #4388ff28 100%);

		&.hide {
			display: none;
		}
	}
}

.newHeader {
	position: fixed;
	top: 0;
	z-index: 2;
	background: white;
	width: 100%;
	height: $header-height;
	display: flex;
	align-items: center;
	border-bottom: $border;
	overflow-x: auto;
	overflow-y: hidden;

	h2.title {
		padding: 0 2rem;
	}

	form {
		display: flex;
		gap: 0.75rem;
		margin-left: auto;
		margin-right: 2rem;

		input[type=submit], select {
			border-radius: $border-radius;
			background: #f3f3f3;
			padding: .4rem .75rem;
			cursor: pointer;
			transition: all .15s ease;
			font-weight: 600;
			font-size: 0.9rem;

			&:hover, &:focus-visible {
				background: #e8e8e8;
				outline: none;
			}

			&:active {
				background: #d8d8d8;
			}
		}
	}
}
